# Docker compose env
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gosocialize
POSTGRES_PORT=5432

# Goose config for migration
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
GOOSE_MIGRATION_DIR=internal/platform/database/migrations

# App config
APP_NAME=gosocialize
APP_ENV=development

# Server config
SERVER_PORT=8080

# Database config
DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
